<div>
    <!-- balance section -->
    <mdb-card>
        <mdb-card-body>
            <mdb-card-title>
                <h4>Balance</h4>
            </mdb-card-title>
            <mdb-card-text>
                <div class="d-flex flex-row">
                    <div class="pt-2 h4"> <strong>R {{totalBalance}}</strong> </div>
                    <div class="pt-2 ml-auto h4"> <strong> ZAR </strong> </div>
                </div>
            </mdb-card-text>
        </mdb-card-body>
    </mdb-card>
</div>