<div>
    <!-- floating button -->
    <button type="button" mdbBtn color="dark" rounded="true" data-toggle="modal" size="sm" data-target="#basicExample"
        (click)="new_transaction.show()" mdbWavesEffect>Add New Transaction</button>






    <!-- new transaction modal -->
    <div mdbModal #new_transaction="mdbModal" class="modal fade left" id="new_transactionModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add New Transaction</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="new_transaction.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form -->
                <div class="modal-body mx-3">
                    <!-- Description -->
                    <div class="md-form mb-5">
                        <input type="text" id="defaultForm-description" ngDefaultControl [formControl]="description"
                            class="form-control" autocomplete="off" mdbInput mdbValidate>
                        <label for="defaultForm-description">Description</label>
                    </div>

                    <!-- Amount -->
                    <div class="md-form mb-5">
                        <input type="number" id="defaultForm-amount" ngDefaultControl [formControl]="amount" class="form-control"
                            autocomplete="off" mdbInput mdbValidate>
                        <label for="defaultForm-amount">Amount</label>
                    </div>

                    <!-- Transaction Type -->
                    <select class="browser-default custom-select md-form mb-5" ngDefaultControl [formControl]="type"
                        class="form-control">
                        <option value="" disabled selected>Transaction Type</option>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button mdbBtn [disabled]="!transactionForm.valid" color="dark" (click)="add(); new_transaction.hide()" class="waves-light"
                        mdbWavesEffect>Add</button>
                </div>
            </div>
        </div>
    </div>
</div>