// FILTERING
.custom-select{
    height: 32px;
}


// TRANSACTION CARDS
.card-body{
    width:300px;
    padding: 10px;
    // border-radius: 30px;
}

// .transactions cards
.card{
    background-color: #F5F5F5;
}

