<div>
    <!-- filter -->
    <div class="d-flex flex-row">
        <div class="pt-2 h5"> <strong>Transactions</strong> </div>
        <div class="pt-2 ml-auto h4">
            <select class="browser-default custom-select">
                <option selected>All</option>
                <option value="1">Income</option>
                <option value="2">Expenses</option>
            </select>
        </div>
    </div>


    <!-- transaction -->
    <mdb-card class="mt-2" *ngFor="let trans of transactions; let i = index"> 
        <mdb-card-body>
            <mdb-card-title class="d-flex flex-row">
                <small class="pt-2">{{todayDate}} </small>
                <small class="pt-2 ml-auto">{{trans.type}}</small>
                <!-- delete button -->
                <mdb-icon far icon="trash-alt" (click)="delete(i)" class="pt-1 pl-1" ></mdb-icon>
            </mdb-card-title>
            <mdb-card-text>
                <div class="d-flex flex-row">
                    <div class="pt-2"> <strong>{{trans.description}}</strong> </div>
                    <div class="pt-2 ml-auto"> <strong>R  {{trans.amount}}.00</strong> </div>
                </div>
            </mdb-card-text>
        </mdb-card-body>
    </mdb-card>

</div>